*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
    margin: 150px;
}
.dinamic-card{
    display: flex;
    background-color: rgb(107, 164, 22);
    border: 1px solid black;
    width: 250px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 15px;
    margin: auto 0;
    padding: 20px;
    gap: 10px;
}

.dinamic-card img{
    width: 250px;
    height: 200px;
}

.dinamic-card h3{
    font-size: 20px;
    color: white;
    text-align: center;
}

.dinamic-card p{
    font-size: 16px;
    color: white;
    text-align: center;
}

#calc-total{
    background-color: goldenrod;
    padding: 5px;
    border: 1px solid black;
    color: white;
    border-radius: 3px;
}

#calc-total:hover{
    background-color: gold;
    color: black;
    border: 1px solid gray;
}

.results{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.datos{
    display: flex;
}

#box-color{
    margin-left: 5px;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    border: 1px solid black;
}